body {background: url('art008.jpg') #8B5A00; font-size: 150%}
div {background: white; padding: 1em; margin: 0.5em}
div#TOC {font-size: 60%; float: left; width: 12em; padding-right: 2em; padding-bottom: 2em; background: black}
p#em {text-align: right}
/*ul {color: #888; line-height: 145%}*/
address {text-align: center; background: white; padding: 0.5em; width: 25em; margin: 0 auto}
a {color: #000; border: thin solid #fff; padding: 0.2em}
#TOC li {margin-bottom: 0.5em}
li a {color: #888;}
a:hover {background: #eef;  border: thin solid #888; text-decoration: none}
h1.title {text-align: center; font-size: 150%}
h1 {font-size: 140%}
h2 {font-size: 125%}
h3 {font-size: 113%}
h4 {font-size: 105%}
